<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New York Mongo Times</title>
    {{!-- <link rel="stylesheet" href="/assets/css/burger_style.css"> --}}
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Rock+Salt" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- somewhat unsure how far out to tunnel here for burgers.js, will have to play with it --}}
    {{!-- <script src="/assets/js/burgers.js"></script> --}}
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
